/* Site Designed by Hillary Louise Johnson */

/* CSS Resets From Eric Meyer: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	line-height: 1.2em;
}

:focus {
	outline: 0;
}
body {
	color: black;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 5;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* end of resets */

html {
font-family: arial, sans-serif;
height: 100%;
}

body {
background: #323131 url(#{resource['this:concert.jpg']}) bottom left repeat-x;
background-attachment: fixed;
}

#wrapper {
width: 950px;
height: 800px;
left: 0px;
margin-right: auto;
margin-left: auto;
background: transparent url(#{resource['this:star.png']}) top left no-repeat;
}

#outerwrapper{
background: transparent url(#{resource['this:flourishes.png']}) top center no-repeat;
}

#header {
position: relative;
height: 340px;
top: 0px;
background: transparent url(#{resource['this:banner3.png']}) top left no-repeat;
z-index: 100;
}

#header h1 {
display: none;
margin-left -3000px;
}

h2 {
font-size: 180%;
margin-top: 20px;
padding-bottom: 20px;
font-family: georgia;
}

#menu {
position: relative;
float: left;
width: 160px;
height: auto;
margin-bottom: 20px;
background: transparent;
padding-top: 20px;
}

#menu li {
text-align: right;
padding: 5px 10px;
margin: 5px 0px;
list-style-position: outside;
background-color: #c30a0b;
text-transform: uppercase;
font-family: impact, sans-serif;
font-size: 1.3em;
font-weight: normal;
/* white-space: nowrap; */
display: block;
}

#menu a:link {color: #ffffff; font-weight: normal; text-decoration: none;}
#menu a:visited {color: #ffffff; font-weight: normal; text-decoration: none;}
#menu a:hover {color: #ffde00; font-weight: normal; text-decoration: none; }
#menu a:active {color: #ffde00; font-weight: normal; text-decoration: none;}

a:link {color: #c30a0b; font-weight: bold; text-decoration: none;}
a:visited {color: #c30a0b; font-weight: bold; text-decoration: none;}
a:hover {color: #898989; font-weight: bold; text-decoration: none;}
a:active {color: #898989; font-weight: bold;  text-decoration: none;}

#content {
float: right;
width: 700px;
height: 600px;
background: #fff;
padding: 40px;
margin-top: -100px;
overflow: scroll;
}

p {
margin: 0px 0px;
font-family:Verdana;
line-height:150%;
text-align:justify;
}

#description {
font-size: 1.2em;
font-weight: bold;
font-family: georgia;
background: transparent;
color: #af1e23;
margin: 0 30px;
}

h3 {
font-weight: bold;
margin-bottom: 10px;
margin-top: 10px;
}

#footer {
clear: both;
color: #fff;
margin-top: 20px;
margin-right: auto;
margin-left: auto;
text-align: center;
font-size: 80%;
font-weight: bold;
}

#footer a:link {color: #ffff00; font-weight: bold;}
#footer a:visited {color: #ffff00; font-weight: bold;}
#footer a:hover {color: #fff; font-weight: bold;}
#footer a:active {color: #fff; font-weight: bold;}

p img {
float: left;
margin: 0 10px 5px 0;
}


td {
padding: 10px 10px 5px 5px;
text-align:center;
}

th {
font-weight: bold;
padding-left: 5px;
text-align:center;
background-color:rgb(0,0,0);
color:gold;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
line-height: 2em;
}

tr.tableheader {
background: #d2d2d2;
}
