/*
 * Copyright 2004 Sun Microsystems, Inc. All Rights Reserved.
 * 
 * Redistribution and use in source and binary forms, with or
 * without modification, are permitted provided that the following
 * conditions are met:
 * 
 * - Redistributions of source code must retain the above copyright
 *   notice, this list of conditions and the following disclaimer.
 * 
 * - Redistribution in binary form must reproduce the above
 *   copyright notice, this list of conditions and the following
 *   disclaimer in the documentation and/or other materials
 *   provided with the distribution.
 *    
 * Neither the name of Sun Microsystems, Inc. or the names of
 * contributors may be used to endorse or promote products derived
 * from this software without specific prior written permission.
 *  
 * This software is provided "AS IS," without a warranty of any
 * kind. ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND
 * WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, ARE HEREBY
 * EXCLUDED. SUN AND ITS LICENSORS SHALL NOT BE LIABLE FOR ANY
 * DAMAGES OR LIABILITIES SUFFERED BY LICENSEE AS A RESULT OF OR
 * RELATING TO USE, MODIFICATION OR DISTRIBUTION OF THIS SOFTWARE OR
 * ITS DERIVATIVES. IN NO EVENT WILL SUN OR ITS LICENSORS BE LIABLE
 * FOR ANY LOST REVENUE, PROFIT OR DATA, OR FOR DIRECT, INDIRECT,
 * SPECIAL, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES, HOWEVER
 * CAUSED AND REGARDLESS OF THE THEORY OF LIABILITY, ARISING OUT OF
 * THE USE OF OR INABILITY TO USE THIS SOFTWARE, EVEN IF SUN HAS
 * BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
 *  
 * You acknowledge that this software is not designed, licensed or
 * intended for use in the design, construction, operation or
 * maintenance of any nuclear facility.
 */

/* ****************************************************************************

Copyright (c) 2001-2004 Lea Smart. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

- Redistribution of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.

- Redistribution in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

This software is provided "AS IS," without a warranty of any kind. ALL
EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
NON-INFRINGEMENT, ARE HEREBY EXCLUDED. THE AUTHOR OF THIS SOFTWARE SHALL
NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING,
MODIFYING OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES. IN NO EVENT
WILL  THE AUTHOR OF THIS SOFTWARE HIS LICENSORS BE LIABLE FOR ANY LOST
REVENUE, PROFIT OR DATA, OR FOR DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL,
INCIDENTAL OR PUNITIVE DAMAGES, HOWEVER CAUSED AND REGARDLESS OF THE
THEORY OF LIABILITY, ARISING OUT OF THE USE OF OR INABILITY TO USE THIS
SOFTWARE, EVEN IF  THE AUTHOR OF THIS SOFTWARE  HAS BEEN ADVISED OF THE
POSSIBILITY OF SUCH DAMAGES. 

You acknowledge that this software is not designed, licensed or intended
for use in the design, construction, operation or maintenance of any nuclear
facility.

********************************************************************************

Author : Lea Smart
Source : www.totallysmartit.com
Date : 7/3/2001
DHTML Calendar
Version 1.2
	
Amendments
22 Jan 2002; Added ns resize bug code; rewrote date functions into Date 'class';
	     Added support for yyyy-mm-dd date format
	     Added support for calendar beginning on any day
7th Feb 2002 Fixed day highlight when year wasn't current year bug
9th Jun 2002 Fixed bug with weekend colour
	     Amended the code for the date functions extensions.  Shortened
             addDays code considerably

***************************************************************************** */

	td.cal{
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #000000;
	  background-color : #d3d3d3;
	}
	select.month{
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #000000;
	  width : 85px;
	}
	input.year{
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #000000;
	  width : 30px;
	}
	td.calDaysColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #000000;
	}
	td.calWeekend {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #c0c0c0;
	}
	td.calBgColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #d3d3d3;
	}
	.calBorderColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #a9a9a9;
	}
	td.calHighlightColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #ffffcc;
	}
	A.cal {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #000000;
	  text-decoration : none;
	}  
	A.cal:Hover {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #FF0000;
	  text-decoration : none;
	} 
	.disabled {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #808080;
	  text-decoration : none;
	}  
  
