/*
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License).  You may not use this file except in
 * compliance with the License.
 * 
 * You can obtain a copy of the license at
 * https://woodstock.dev.java.net/public/CDDLv1.0.html.
 * See the License for the specific language governing
 * permissions and limitations under the License.
 * 
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at https://woodstock.dev.java.net/public/CDDLv1.0.html.
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * you own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 * 
 * Copyright 2007 Sun Microsystems, Inc. All rights reserved.
 */

/* LAYOUT */
.progressBar_4_sun4 {
	margin:12px 11px;
}
.progressBar_4_sun4 .operationLabel_sun4 {
	margin:0 0 9px 1px;
	line-height:1.0;
}
.progressBar_4_sun4 .barContainer_sun4 {
	display:block;
	float:left;
	position:relative;
	margin-bottom:6px;
	padding:.09em;
	border-style:solid;
	border-width:1px;
	width:16.9em;
}
.progressBar_4_sun4 .barDeterminate_sun4, .progressBar_4_sun4 .barIndeterminate_sun4, .progressBar_4_sun4 .barIndeterminatePaused_sun4 {
	width:48%;
	height:.8em;
}
.progressBar_4_sun4 .failure_sun4{
	
	float:left;
	margin-bottom:7px;
	padding:1px;
	width:17.1em;
}
.progressBar_4_sun4 .failureLabel_sun4 {
	color:#C00;
	padding:0 0 0 1.3em;
	line-height:1.0;
}
.progressBar_4_sun4 .barIndeterminate_sun4, .progressBar_4_sun4 .barIndeterminatePaused_sun4{
	width:100%
}
.progressBar_4_sun4 .barLabel_sun4 {
	position:absolute;
	line-height:.9;
	top:.09em;
	left:0;
	width:16.9em;
	height:.9em;
	text-align:right;
}
.progressBar_4_sun4 .statusLabel_sun4 {
	padding:0 0 0 1px ;
	line-height:1.0;
	width:16.9em;
	margin-bottom:20px;
}
.progressBar_4_sun4 .buttonsBottom_sun4 {
	margin: 11px 0 20px -1px;
}
.progressBar_4_sun4 .buttonsRight_sun4 {
	float:left;
	clear:right;
	margin: -2px 0 0 0;
	padding-left:.9em;
}
.progressBar_4_sun4 .log_sun4 {
	margin:20px 0;
}
.progressBar_4_sun4 .busy_sun4 {
	margin:10px;
}
/*---*/

/* TYPOGRAPHY */
.progressBar_4_sun4 {
	font-size:1.0em;
}
.progressBar_4_sun4 .operationLabel_sun4, .progressBar_4_sun4 .failureLabel_sun4 {
	font-weight:bold;
}
/*---*/
/* COLOR AND MEDIA */
.progressBar_4_sun4 {
	border-color:#F1F1F1;
}
.progressBar_4_sun4 .barContainer_sun4 {
	background-color:#F2F3F4;
	border-color:#666664;
}
.progressBar_4_sun4 .barIndeterminatePaused_sun4 {
	background: #A0CCE7 url(still-indeterminate.gif) repeat-x top;
}
.progressBar_4_sun4 .barIndeterminate_sun4 {
	background: #A0CCE7 url(indeterminate.gif) repeat-x top;
}
.progressBar_4_sun4 .barDeterminate_sun4 {
	background: #A0CCE7 url(reg-slice.gif) repeat-x top;
}
.progressBar_4_sun4 .failure_sun4 {
	background-image:url(failed_small.gif);
	background-position:top left;
	background-repeat:no-repeat;
}
.progressBar_4_sun4 .failureLabel_sun4 {
	color:#CC0000;
}
.progressBar_4_sun4 .checkboxContainer_sun4 label {
	cursor:pointer;
}
/*---*/
