.list-background {
  background-color: #8AA9D3;
  border: 5px outset #C8B583;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
  width: 90%;
}

.list-column-center {
  text-align: center;
  width: 15%;
}

.list-header {
  background-color: #DA825B;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.inputList-background {
  background-color: #8AA9D3;
  border: 1px outset #C8B583;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 8pt;
  padding: 15px;
  width: 40%;
}
