big.support{color: rgb(153, 153, 255)}
.overview{color: rgb(153, 153, 255)}
big.bp{color: rgb(102, 102, 204); font-weight: bold; font-size: 175%;}
big.tech{color: rgb(102, 51, 255)}
table.leftAlign{text-align: left;}
table.autoAlign{text-align: left;
			width: 100%; margin-left: auto; margin-righ: auto;}
td.topAlign{vertical-align: top}
td.topAlignMin{vertical-align: top; width: 120px;}
td.topAlignBig{vertical-align: top; width: 210px;}
td.topAlignSmall{vertical-align: top; width: 16px;}
.fontBold{font-weight: bold}
.centerAlign{text-align: center;
			 vertical-align: middle;
			 width: 100px}
.underlineStyle{text-decoration: underline;}
img.all{width: 35px; height: 35px}
img.bgarlg{width: 15px; height: 13px}
img.starEmpty{width: 17px; height: 15px}
img.ardbl{width: 6px; height: 10px}
img.arlg{width: 6px; height: 10px}
img.features{width: 32px; height: 32px}
