*.class
*.jar
*.jsfdia
target/
/bin/
/dist/
/dependencies/
/jsf-demo/dist/
/jsf-api/build/
/jsf-ri/build/
/jsf-tools/build/
/jsf-tools/target/
/build.properties
.settings/
test/**/.classpath
test/**/.project
spi/**/.classpath
spi/**/.project
impl/**/.classpath
impl/**/.project
impl/bnd.bnd
api/**/.classpath
api/**/.project
api/src/**
/nbproject/private/
/dependencies
glassfish-8.0/
nbactions.xml
/test/javaee8/passthrough/nb-configuration.xml
*.DS_Store
.idea/
Mojarra.iml
/impl/src/main/doc/
/impl/src/main/resources/com/
/impl/src/main/resources/javax/
/impl/src/main/template/
/impl/src/main/resources/META-INF/facelet*.xml
/impl/src/main/resources/META-INF/LICENSE.txt
/impl/src/main/resources/META-INF/*.tld
/impl/src/main/resources/META-INF/error-include.xhtml
/impl/src/main/resources/META-INF/mojarra_ext.taglib.xml
