target/
api/src/main/java/
api/src/main/resources/
impl/bnd.bnd
impl/yuicompressor.jar
changebundle.txt
dependencies
build.properties
*.class
*.jar
*.jsfdia
target/
/bin/
/dist/
/dependencies/
/jsf-demo/dist/
/jsf-api/build/
/jsf-ri/build/
/jsf-tools/build/
/jsf-tools/target/
/build.properties
.settings/
.classpath
.project
test/**/.classpath
test/**/.project
spi/**/.classpath
spi/**/.project
impl/**/.classpath
impl/**/.project
impl/bnd.bnd
api/**/.classpath
api/**/.project
api/src/**
/nbproject/private/
/dependencies
glassfish-8.0/
nbactions.xml
/test/javaee8/passthrough/nb-configuration.xml
*.DS_Store
.idea/
Mojarra.iml
*~
