*.class
*.jar
target/
/bin/
/dist/
/test/quality/
/test/unit/src/main/java/com/
/test/unit/src/main/java/javax/
/test/unit/src/main/resources/com/
/test/unit/src/main/resources/javax/
/test/unit/src/main/resources/META-INF/
/dependencies/
/jsf-demo/dist/
/jsf-api/build/
/jsf-ri/build/
/jsf-tools/build/
/jsf-tools/target/
/build.properties
.settings/
test/**/.classpath
test/**/.project