<html>
<head>
<title>Package Description for "javax.faces.view"</title>
</head>
<body bgcolor="white">

<p class="changed_added_2_0"><span
class="changed_modified_2_0_rev_a">Classes</span> for defining a View
Declaration Language (VDL) for authoring JavaServer Faces user
interfaces.  The root class in this package is <a
href="ViewDeclarationLanguageFactory.html"><code>ViewDeclarationLanguageFactory</code>.</a>
Interfaces and classes required for the Facelets for JSF 2
implementation are also defined in package <a
href="facelets/package-summary.html"><code>javax.faces.view.facelets</code></a>.</p>

</body>
</html>
