# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# jsf-ri for your local environment.  It defines the location of all external
# modules that the jsf-ri depends on.  Copy this file to "build.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id: build.properties.sample,v 1.20 2003/05/15 21:33:07 jvisvanathan Exp $
# -----------------------------------------------------------------------------


# ----- Compile Control Flags -----

compile.deprecation = true

compile.debug = true


# ----- Build Control Flags -----


# ----- Run Control Flags -----

# Define the arguments to give to the jvm to enable debugging
# If this is commented out, no debugging arguments will be passed.
# Make sure to uncomment the proper arguments for your platform.

# ----- Unix
#debug.jvm.args = -Xdebug -Xrunjdwp:transport=dt_socket,address=8000,server=y,suspend=n

# ----- Windows 
#debug.jvm.args = -Xdebug -Xrunjdwp:transport=dt_shmem,address=jdbconn,server=y,suspend=n


# ----- Default Paths for Dependent Packages -----

base.path=D:\\Files_2k\

# --------------------------------------------------
#		 REQUIRED LIBRARIES
# --------------------------------------------------
# Following settings assume that you are using JWSDP 1.2.
commons-beanutils.jar=${tomcat.home}/server/lib/commons-beanutils.jar
commons-collections.jar=${tomcat.home}/common/lib/commons-collections.jar
commons-logging.jar=${tomcat.home}/server/lib/commons-logging.jar
commons-digester.jar=${tomcat.home}/server/lib/commons-digester.jar
jstl.jar=${tomcat.home}/jstl/lib/jstl.jar
standard.jar=${tomcat.home}/jstl/lib/standard.jar
xerces.jar=${tomcat.home}/jaxp/lib/xercesImpl.jar


# Comment the following if you are building with JWSDP1.1.x
# or TOMCAT 4.x
jsp.jar=${tomcat.home}/common/lib/jsp-api.jar
servlet.jar=${tomcat.home}/common/lib/servlet-api.jar
	  
# set the property tomcat.home.50 to point to tomcat.home if running tomcat.5
# set the property tomcat.home.40 to point to tomcat.home if running tomcat.4
tomcat5.home=${tomcat.home}

# ----- Commons Cactus, version 13-1.4.1 -----
cactus.home=${base.path}/jakarta-cactus-13-1.4.1
cactus.lib=${cactus.home}/lib
cactus.jar=${cactus.lib}/cactus-1.4.1.jar
cactus.ant.jar=${cactus.lib}/cactus-ant-1.4.1.jar
httpclient.jar=${cactus.lib}/commons-httpclient-2.0alpha1-20020606.jar
aspectjrt.jar=${cactus.lib}/aspectjrt-1.0.5.jar

cactus.loc=http://jakarta.apache.org/builds/jakarta-cactus/release/v1.4.1/jakarta-cactus-13-1.4.1.zip


# ----- JUnit, version 3.8.1 -----
junit.home=${base.path}/junit3.8.1
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar

junit.loc=http://prdownloads.sourceforge.net/junit/junit3.8.1.zip


# --------------------------------------------------
#		 RUN-TIME COMPONENTS
# --------------------------------------------------

# ----- Jakarta Tomcat, version 4.0.x or later -----
tomcat.home=<path to JWSDP or Tomcat installation>
tomcat.loc=http://jakarta.apache.org/builds/jakarta-tomcat-4.0/release/v4.1.12/bin/jakarta-tomcat-4.1.12.tar.gz

username=tomcat
password=tomcat

# By default, all the dependent libraries are bundled with every sample app.
# To bundle only the libraries that are not in the JWSDP1.2,
# comment build.standalone property and uncomment build.wspack property
#build.standalone=true
build.wspack=true

# --------------------------------------------------
#   PROPERTIES FOR RUNNING UNIT TESTS
# --------------------------------------------------

jmx.jar=${tomcat.home}/common/lib/jmx.jar
naming-resources.jar=${tomcat.home}/common/lib/naming-resources.jar
jasper-compiler.jar=${tomcat.home}/common/lib/jasper-compiler.jar
jasper-runtime.jar=${tomcat.home}/common/lib/jasper-runtime.jar
naming-common.jar=${tomcat.home}/common/lib/naming-common.jar
commons-modeler.jar=${tomcat.home}/server/lib/commons-modeler.jar
commons-el.jar=${tomcat.home}/common/lib/commons-el.jar
ant.jar=${tomcat.home}/apache-ant/lib/ant.jar
jaxp-api.jar=${tomcat.home}/jaxp/lib/jaxp-api.jar
sax.jar=${tomcat.home}/jaxp/lib/endorsed/sax.jar

#Set this if you are running unit tests with JWSDP 1.1 or Tomcat 4.1.x
#crimson.jar=D:\\Files_2k\\jwsdp-1_0_01\\tools\\deploytool\\endorsed\\crimson.jar

# --------------------------------------------------
#   PROPERTIES FOR JWSDP 1.2 NIGHTLY BUILDS      
# --------------------------------------------------

# Set the following only for distribution with JWSDP 1.2.
#build.home=/home/visvan/testwspack/build
#dist.home=/home/visvan/testwspack/dist
#wspack.home=/home/visvan/testwspack/wspack

