# Make these values be correct on your system, then rename to
# build.properties.  On win32, make sure to preserve the \\ syntax
# for escaping backslashes.  

tomcat.home = D:\\tomcat4.0
cactus.home = D:\\cactus-23-1.2
compile.deprecation = true
junit.jar = D:\\junit3.7\\junit.jar
cactus.jar = D:\\cactus-23-1.2\\lib\\cactus.jar
cactus.ant.jar = D:\\cactus-23-1.2\\lib\\cactus-ant.jar
httpclient.jar = D:\\cactus-23-1.2\\lib\\httpclient.jar
commons.beanutils.jar = D:\\Projects\\J2EE\\workareas\\jsf-ri\\lib\\commons-beanutils.jar
commons.collections.jar = D:\\Projects\\J2EE\\workareas\\jsf-ri\\lib\\commons-collections.jar
commons.logging.jar = D:\\Projects\\J2EE\\workareas\\jsf-ri\\lib\\commons-logging.jar
commons.digester.jar = D:\\Projects\\J2EE\\workareas\\jsf-ri\\lib\\commons-digester.jar
# Define the arguments to give to the jvm to enable debugging
# If this is commented out, no debugging arguments will be passed.
debug.jvm.args = -Xdebug -Xrunjdwp:transport=dt_shmem,address=jdbconn,server=y,suspend=n
