body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a, a:link, a:visited, a:active {
    color: #000000;
    background-color: inherit;
}

a:hover {
    color: #ff0000;
    background-color: inherit;
}

hr {
    height: 1px;
    border-style: dotted;
    border-color: #000000;
    border-width: 0px 0px 1px 0px;
}