<html>
<head>
<title>Package Description for "javax.faces.view.facelets"</title>
</head>
<body bgcolor="white">

<p class="changed_added_2_0"><span
class="changed_modified_2_0_rev_a">This</span> package contains public
classes for the Java code API of Facelets.  The vast majority of
Facelets users have no need to access the Java API and can get all their
work done using the tag-level API.  These classes are provided for users
that have a need for a Java API that allows participation in the
execution of a Facelets View, which happens as a result of the runtime
calling <a
href="../ViewDeclarationLanguage.html#buildView(javax.faces.context.FacesContext,%20javax.faces.component.UIViewRoot)"><code>ViewDeclarationLanguage.buildView()</code></a>.
    </p>

<div class="changed_added_2_0">

<p>

<img src="Facelets.jpg" alt="UML Class Diagram of classes in this package" />

</p>

<p>The most common usecase for participating in the execution of a
Facelets View is to provide a custom tag handler in those cases when the
non-Java API methods for doing so is not sufficient.  In such cases,
Java classes may extend from <code><a
href="ComponentHandler.html">ComponentHandler</a></code>, <code><a
href="BehaviorHandler.html">BehaviorHandler</a></code>, <code><a
href="ConverterHandler.html">ConverterHandler</a></code>, or <code><a
href="ValidatorHandler.html">ValidatorHandler</a></code> depending upon
the kind of JSF Java API artifact they want to represent in the Facelets
VDL page.</p>

</div>

</body> </html>
