/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 * 
 * Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 * 
 * The contents of this file are subject to the terms of either the GNU
 * General Public License Version 2 only ("GPL") or the Common Development
 * and Distribution License("CDDL") (collectively, the "License").  You
 * may not use this file except in compliance with the License. You can obtain
 * a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 * or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 * language governing permissions and limitations under the License.
 * 
 * When distributing the software, include this License Header Notice in each
 * file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 * Sun designates this particular file as subject to the "Classpath" exception
 * as provided by Sun in the GPL Version 2 section of the License file that
 * accompanied this code.  If applicable, add the following below the License
 * Header, with the fields enclosed by brackets [] replaced by your own
 * identifying information: "Portions Copyrighted [year]
 * [name of copyright owner]"
 * 
 * Contributor(s):
 * 
 * If you wish your version of this file to be governed by only the CDDL or
 * only the GPL Version 2, indicate your decision by adding "[Contributor]
 * elects to include this software in this distribution under the [CDDL or GPL
 * Version 2] license."  If you don't indicate a single choice of license, a
 * recipient has the option to distribute your version of this file under
 * either the CDDL, the GPL Version 2 or to extend the choice of license to
 * its licensees as provided above.  However, if you add GPL Version 2 code
 * and therefore, elected the GPL Version 2 license, then the option applies
 * only if the new code is made subject to such option by the copyright
 * holder.
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.bodystyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.medium {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.maintitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #330066;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #93B629;
}

.subtitlebig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #93B629;
    padding-top: 10;
    padding-bottom: 10;
}

.big {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.xbig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.expanded {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
}

.justified {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 9px;
    color: #999999;
}

.box1 {
    padding: 3px;
    border-width: medium;
    border-style: solid;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
    font-style: italic;
    word-spacing: 2pt;
    padding: 3px;
    border: 1px solid;
}

.align-left {
    text-align: left;
}

.panel-background {
    background-color: #7171A5;
    border: 5px outset #71A5A5;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14pt;
    padding: 10px;
}

.package-selected {
    background-color: #93B629;
}

.package-unselected {
    background-color: #C0C0C0;
}

.option-unselected {
    background-color: #FFFFFF;
}

.top-table {
    padding: 0;
    border: 0;
    width: 660px;
}

.storeFrontCar {
    padding: 0;    
    border: 0;
}

.validationMessage {
    color: red;
}
