table.whiteboard {
    width:1024px;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
}

table.whiteboard tr td{
    margin:0px;
    padding:0px;
}

.tableHeader{
    background-image:url("../resources/images/lousaNova/quadroNegro_r1_c1.png");
    background-repeat:no-repeat;
    height:42px;
    width:100%;
    margin: 0px;
    padding: 0px;

}

table.tableBody{
  width:100%;
  background-image:url("../resources/images/lousaNova/quadroNegro_r2_c1.png;");
  margin: 0px;
  padding: 0px;
  border-collapse:collapse;
  border-spacing:0pt;


}

table.tableBody tr td{
    /* important to make content aligned inside the table*/
    text-align:center;
}



.tableFooter{
    width:100%;
    background-image:url("../resources/images/lousaNova/quadroNegro_r3_c1.png");
    background-repeat:no-repeat;
    height:45px;
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif ;
	color: black;

}

td.postItYellow {
    background-image:url("../resources/images/postits/novos/postit_amar_150x145.png");
    background-position:center;
    background-repeat:no-repeat;
    height:200px;
    width:25%;
}
td.postItYellow a {
    color:black;
    text-decoration:none;
}

td.postItOrange {
    background-image:url("../resources/images/postits/novos/postit_lara_150x145.png");
    background-position:center;
    background-repeat:no-repeat;
    height:200px;
    width:25%;
}

td.postItOrange a {
    color:black;
    text-decoration:none;
}

td.postItRed {
    background-image:url("../resources/images/postits/novos/postit_verm_150x145.png");
    background-position:center;
    background-repeat:no-repeat;
    height:200px;
    width:25%;
}
td.postItRed a {
    color:white;
    text-decoration:none;
}

td.postItBlue {
    background-image:url("../resources/images/postits/novos/postit_azul_150x145.png");
    background-position:center;
    background-repeat:no-repeat;
    height:200px;
    width:25%;
}

td.postItBlue a {
    color:white;
    text-decoration:none;
}
table.postit-6colunas {
    width:100%;
    padding:25pt;
    border-spacing:5pt;
    background-image:url("../resources/images/lousaNova/quadroNegro_r2_c1.png;");
    margin: 0px;
    padding: 0px;
    border-collapse:collapse;
    border-spacing:0pt;
}

table.postit-6colunas thead tr th{
    font-family: Arial, Helvetica, sans-serif ;
	color: black;
    background-image:none;

}
table.postit-6colunas tbody tr td {

	font-family: Arial, Helvetica, sans-serif ;
	color: black;
    text-align:center;   
    background-image:url("../resources/images/postits/novos/postit_azul_150x145.png");
    width:150px;
    height:145px;
    background-repeat:no-repeat;
    background-position:center;
    padding:30px;

}

table.postit-1coluna {
    /* width must be 100% because of the column background - whiteboard*/
    width:100%;
    border-spacing:5pt;
    border-collapse:collapse;
}

table.postit-1coluna thead tr th{
    background-image:url("../resources/images/lousaNova/quadroNegro_r1_c1.png;");
}

table.postit-1coluna tbody tr{
    background-image:url("../resources/images/postits/claras/postit_20_amar_450x145.png;");
    background-repeat:no-repeat;
    background-position:center;
}

table.postit-1coluna tbody tr td {

    /* cor da fonte post it*/
	color: black;
    /* necess‡rio para o espacamento do post it padding-left:100px;*/
    padding-left:380px;
    padding-right:380px;
    padding-bottom:30px;
    height:145px;
    background-image:url("../resources/images/lousaNova/quadroNegro_r2_c1.png;");
    text-align:left;

}

table.postit-1coluna tfoot tr td{
    background-image:url("../resources/images/lousaNova/quadroNegro_r3_c1.png;");
}



.tituloForm {
    font-size: 14pt;
    /* Red 100%*/
    color: #EF3E42;;
    font-weight:bold;
    padding:11px;
    margin:11px;
}
input.botaoPostIt{
    font-size: 8pt;
    /* Red 100%*/
    color: #EF3E42;
    font-weight:bold;
    background-color:white;

}

label {
  font-size: 10pt;
  /* Red 100%*/
  color: #EF3E42;
  text-align: left;
  border:none;

}

td{
    font-family: Arial, Helvetica, sans-serif;
}

input, select,textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* Red 100% */
  color: #EF3E42;
  text-align: left;
  background-color:white;
  border-style:ridge;
  /*lightgray*/
  border:1px solid lightgray;
  padding:4px;
  margin:4px;
  margin-bottom:4px;
  font-weight:normal;
}

.datatableHeader{
    /* Red 100% */
    background-color:#EF3E42;
    color:white;

    font-size:12pt;
    font-weight:normal;
    padding:10px;
    margin:10px;
}

.datatableRow2{
    /* blue 20% */
    background-color:#F8C6C7;
    font-size:12px;
    color:black;
    padding:15px;
    margin:15px;
    text-align:center;

}

.navigationLink{
    text-decoration:none;
    text-align:right;
    /* Red 100% */
    color:#EF3E42;
}
.datatable {
    border-collapse:collapse;
}
.datatable tr td{
    padding:5px;
    margin:5px;
}

/*Diferent datatable lines / oposite*/
.datatableRow{
    background-color:white;
    color:black;
    font-size:12px;
    text-align:center;
}
.dataTableFirstColumn{
    font-weight:bold;
}

table.menuTable{
    /* it seems its not necessary */
    border-collapse:collapse;
    vertical-align:middle;
    text-align: left;
}

table.menuTable tr td{
    vertical-align:middle;
    padding-bottom:0px;
    width:168px;
}

.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    padding: 10px;
    /* Red 100% */
    color: #EF3E42;
}

/* menuItem and menu spacing */
.menu ul{
    text-align:left;
    padding:0pt;
    margin:0pt;
    /* sub menu item background */
    background-color:white;

    /* fundo transparente
    background-image:url("../resources/images/menu/Transparency.png;");
    */
}
/* submenu div */
.menu{
    display:none;
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;

}

/* submenu item*/
.menu li{
    /* white background for avoiding transparency on submenu item */
    /*background-color:white;*/

    list-style-type: none;
    display: block;
    padding:10px;
    /* altura do submenu */
    width: 142px;
    /* Red 100% */
    border:1px solid #EF3E42;
    border-top:none;
    font-weight:bold;

}


.menuhandler {
    /* Red 100% */
    border:1px solid #EF3E42;
    color:white;

    text-decoration:none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 141px;
    vertical-align:middle;
    text-align: left;
    font-weight: bold;
    padding:10px;
background-color:#EF3E42;
    /* fundo transparente
    background-image:url("../resources/images/menu/Transparency.png;");
    color:white;
    */
}

