table.whiteboard {
    width:1024px;
    border-collapse:collapse;
}

.tableHeader, table.whiteboard thead tr th{
    background-image:url("../resources/images/lousaNova/quadroNegro_r1_c1.png");
    background-repeat:no-repeat;
    height:42px;
    width:1024px;
    margin: 0px;
    padding: 0px;
}

.tableBody, table.whiteboard tbody tr td {
  width:1024px;
  background-image:url("../resources/images/lousaNova/quadroNegro_r2_c1.png;");
  height:200px;
  margin: 0px;
  padding: 0px;
}

.tableFooter, table.whiteboard tfoot tr td{
    width:1024px;
    background-image:url("../resources/images/lousaNova/quadroNegro_r3_c1.png");
    background-repeat:no-repeat;
    height:45px;
}


table.postit-6colunas {
    width:100%;
    padding:25pt;
    border-spacing:5pt;

}

table.postit-6colunas thead tr th{
    font-family: Arial, Helvetica, sans-serif ;
	color: black;
    background-image:none;

}
table.postit-6colunas tbody tr td {

	font-family: Arial, Helvetica, sans-serif ;
	color: black;
    text-align:center;
    width:150px;
    height:145px;
    /*atualizar*/
    background-image:url("../resources/images/postits/postit_quad_amar_150x145.png;");
    background-repeat:no-repeat;
    background-position:center;
    padding:30px;

}

table.postit-1coluna {
    /* width must be 100% because of the column background - whiteboard*/
    width:100%;
    border-spacing:5pt;
    border-collapse:collapse;
}

table.postit-1coluna thead tr th{
    background-image:url("../resources/images/lousaNova/quadroNegro_r1_c1.png;");
}

table.postit-1coluna tbody tr{
    background-image:url("../resources/images/postits/claras/postit_20_amar_450x145.png;");
    background-repeat:no-repeat;
    background-position:center;
}

table.postit-1coluna tbody tr td {

    /* cor da fonte post it*/
	color: black;
    /* necess‡rio para o espacamento do post it padding-left:100px;*/
    padding-left:380px;
    padding-right:380px;
    padding-bottom:30px;
    height:145px;
    background-image:url("../resources/images/lousaNova/quadroNegro_r2_c1.png;");
    text-align:left;

}

table.postit-1coluna tfoot tr td{
    background-image:url("../resources/images/lousaNova/quadroNegro_r3_c1.png;");
}

/*
atualizar
*/

table.postItFormTable {
       
              
       
}

.tituloForm {
    font-size: 14pt;
    color: orange;;
    font-weight:bold;
    padding:11px;
    margin:11px;
}
input.botaoPostIt{
    font-size: 8pt;
    color: maroon;
    font-weight:bold;
    background-color:white;
}

/* atualizar */
label {
  font-size: 10pt;  
  color: gray;
  text-align: left;
  border:none;
}

td{
    font-family: Arial, Helvetica, sans-serif;
}
/* atualizar */
input, select,textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: orange;
  text-align: left;  
  background-color:white;
  border-style:ridge;
  border:1px solid #F8C6C7;
  padding:4px;
  margin:4px;
  margin-bottom:4px;
  font-weight:normal;  
}

.datatableHeader{
    background-color:orange;
    font-size:14px;
    font-weight:normal;
    color:white;
    padding:10px;
    margin:10px;
}

.datatableRow2{

    background-color:#FCDEBC;
    font-size:12px;
    color:black;
    padding:15px;
    margin:15px;
    text-align:center;

}

.datatable {    
    border-collapse:collapse;
}
.datatable tr td{
    padding:5px;
    margin:5px;
}
.datatableRow{

    background-color:white;
    font-size:12px;
    color:black;    
    text-align:center;
}
.dataTableFirstColumn{
    font-weight:bold;
}
.menu li{
    list-style-type: none;        
    padding: 2px;
    width: 150px;
    display: block;
    text-indent: 0pt;
    
    /* Varia com a cor selecionada*/
    
    border-bottom:none;
    background-image:url("../resources/images/botoes/fundoMenuOrange.png");
    background-position:right;
    background-repeat:no-repeat;
    text-indent:6pt;
    font-weight:normal;
}
.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    /* Varia com a cor selecionada*/
    color: black;
}
.menu ul{
    padding: 0pt ;    
    margin: 0pt;    
    text-indent: 0pt;    
}
.menu {
    display:none;
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
    margin: 0px;
    padding: 0px;
    /* Varia com a cor selecionada*/
    background-color: white;
}

.menuhandler {
        
    text-decoration:none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
    width: 140px;
    text-align: left;
    font-weight: bold;

    /* Varia com a cor selecionada*/
    background-image:url("../resources/images/botoes/fundoMenu.png");
    background-position:right;
    background-repeat:no-repeat;
    color:black;    
    border:1px solid  #FCDEBC;
    padding:10px;
       
}

     