table.whiteboard {
    width:1024px;
    border-collapse:collapse;
}

.tableHeader, table.whiteboard thead tr th{
    background-image:url("../resources/images/lousaNova/quadroNegro_r1_c1.png");
    background-repeat:no-repeat;
    height:42px;
    width:100%;
    margin: 0px;
    padding: 0px;
}

.tableBody, table.whiteboard tbody tr td {
  width:100%;
  background-image:url("../resources/images/lousaNova/quadroNegro_r2_c1.png;");
  height:200px;
  margin: 0px;
  padding: 0px;
}

.tableFooter, table.whiteboard tfoot tr td{
    width:100%;
    background-image:url("../resources/images/lousaNova/quadroNegro_r3_c1.png");
    background-repeat:no-repeat;
    height:45px;
}


table.postit-6colunas {
    width:100%;
    padding:25pt;
    border-spacing:5pt;

}

table.postit-6colunas thead tr th{
    font-family: Arial, Helvetica, sans-serif ;
	color: black;
    background-image:none;

}
table.postit-6colunas tbody tr td {

	font-family: Arial, Helvetica, sans-serif ;
	color: black;
    text-align:center;

    /*atualizar*/
    background-image:url("../resources/images/postits/postit_quad_amar_150x145.png;");
    width:150px;
    height:145px;
    background-repeat:no-repeat;
    background-position:center;
    padding:30px;

}

table.postit-1coluna {
    /* width must be 100% because of the column background - whiteboard*/
    width:100%;
    border-spacing:5pt;
    border-collapse:collapse;
}

table.postit-1coluna thead tr th{
    background-image:url("../resources/images/lousaNova/quadroNegro_r1_c1.png;");
}

table.postit-1coluna tbody tr{
    background-image:url("../resources/images/postits/claras/postit_20_amar_450x145.png;");
    background-repeat:no-repeat;
    background-position:center;
}

table.postit-1coluna tbody tr td {

    /* cor da fonte post it*/
	color: black;
    /* necess‡rio para o espacamento do post it padding-left:100px;*/
    padding-left:380px;
    padding-right:380px;
    padding-bottom:30px;
    height:145px;
    background-image:url("../resources/images/lousaNova/quadroNegro_r2_c1.png;");
    text-align:left;

}

table.postit-1coluna tfoot tr td{
    background-image:url("../resources/images/lousaNova/quadroNegro_r3_c1.png;");
}

/*
atualizar
*/


.tituloForm {
    font-size: 14pt;
    color: orange;;
    font-weight:bold;
    padding:11px;
    margin:11px;
}
input.botaoPostIt{
    font-size: 8pt;
    color: maroon;
    font-weight:bold;
    background-color:white;
}

/* atualizar */
label {
  font-size: 10pt;  
  color: gray;
  text-align: left;
  border:none;
}

td{
    font-family: Arial, Helvetica, sans-serif;
}
/* atualizar */
input, select,textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: orange;
  text-align: left;  
  background-color:white;
  border-style:ridge;
  border:1px solid #F8C6C7;
  padding:4px;
  margin:4px;
  margin-bottom:4px;
  font-weight:normal;  
}

.datatableHeader{
    background-color:orange;
    font-size:14px;
    font-weight:normal;
    color:white;
    padding:10px;
    margin:10px;
}

.datatableRow2{

    background-color:#FFF5E5;
    font-size:12px;
    color:black;
    padding:15px;
    margin:15px;
    text-align:center;

}

.navigationLink{
    text-decoration:none;
    text-align:right;
    color:orange;
}
.datatable {    
    border-collapse:collapse;
}
.datatable tr td{
    padding:5px;
    margin:5px;
}
.datatableRow{

    background-color:white;
    font-size:12px;
    color:black;    
    text-align:center;
}
.dataTableFirstColumn{
    font-weight:bold;
}

table.menuTable{
    border-collapse:collapse;
    vertical-align:middle;
    text-align: left;    
       
}

table.menuTable tr td{
    vertical-align:middle;
    padding-bottom:0px;
    width:168px;
    background-image:url("..resources/images/menu/bt_preto03_165x35.png");
   
}

.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    /* Varia com a cor selecionada*/    
    color: orange;
    padding: 10px
    
}

/* menuItem and menu spacing */
.menu ul{           
    text-align:left;
    padding:0pt;
    margin:0pt;     
}
/* submenu div */
.menu{    
    display:none;
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;        
    
    /* Varia com a cor selecionada*/    
}

/* submenu item*/
.menu li{
    /* white background for avoiding transparency on submenu item */
    background-color:white;
    list-style-type: none;    
    width: 142px;
    /* altura do submenu */

    display: block;
    /* Varia com a cor selecionada*/   
    
    border:1px solid orange;

    border-top:none;
    font-weight:bold;
    padding:10px;
    background-image:url("..resources/images/menu/bt_preto03_165x35.png");
    background-repeat:no-repeat;
}


.menuhandler {
    border:1px solid gray;    
    text-decoration:none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
    width: 141px;
    vertical-align:middle;
    text-align: left;
    font-weight: bold;
    /* Varia com a cor selecionada*/    
    color:gray;
    padding:10px;
    

}

     