

/*************** Configuração do Cabeçalho **************/
div.tabelaGC td{
  /*Essencial para nao ficar um espao entre a clula e a borda*/
  margin: 0px;
  padding: 0px;    
  text-align: left;
}

div.tabelaGC table td.coluna1{
	width: 16px;
	background-image: url("tabela_fundo_esquerdo.gif");
	background-repeat: no-repeat;
	background-position: left;
	height: 32px;
	
}
div.tabelaGC table td.coluna2{  
  background-image: url(tabela_fundo_transicao.gif);  
  background-repeat: repeat-x;
  height: 32px;

	
}
div.tabelaGC table td.coluna3{
	background-image: url("tabela_fundo_direito.gif");
	background-repeat: no-repeat;
	background-position: right;
	height: 32px;
	width: 60px;
	
}


div.tabelaGC{  
  border:0pt solid #EEEEEE;
  
  /*Essencial para nao ficar um espao entre a clula e a borda
  Se for igual a separate pode-se definir border-spacing*/
  border-collapse: collapse;  
  
}

div.tabelaGC table {  
  width:100%;  
  /* Essencial para nao ficar espaos entre as clulas no IE*/
  border-collapse: collapse;    
  /* Configuraao do texto */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8EM;
	font-weight: bold;  
	color: white;	     	
}


div.tabelaGC form table {
	width:0%;
}

/*************** Configurações do formulário ************/

div.tabelaGC form table td{

	/* Para definir o espaçamento entre as células */	
  text-align: left;    
}

fieldset {  
  border: 0pt; 
}

div.tabelaGC fieldset legend{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #656297;
  text-align: left;  
  padding: 0px;
  margin: 0px;
}

div.tabelaGC input {
  margin: 5px 20px 5px 10px;
}
div.tabelaGC label,
div.tabelaGC input,
div.tabelaGC select{
  font-size: 0.9EM;
  font-family: Arial, Helvetica, sans-serif;
  color: #858495;
  font-weight: bold;
  vertical-align: top;  
}