/* Change bars from http://www.geocities.com/hentaihelper/2atimlin.htm */

/* put a red "change" bar in the left margin			*/
/*
   .changed_added_2_0 { cursor: url(changed_added_2_0_cursor.png), auto;
                 background: url(changed_added_2_0.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:green }

   .changed_modified_2_0 { cursor: url(changed_modified_2_0_cursor.png), auto;
                 background: url(changed_modified_2_0.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:orange }

   .changed_deleted_2_0 { cursor: url(changed_deleted_2_0_cursor.png), auto;
                 background: url(changed_deleted_2_0.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:red;
                 text-decoration: line-through; }

   .changed_added_2_0_rev_a { cursor: url(changed_added_2_0_rev_a_cursor.cur), auto;
                 background: url(changed_added_2_0_rev_a.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:green }

   .changed_modified_2_0_rev_a { cursor: url(changed_modified_2_0_rev_a_cursor.cur), auto;
                 background: url(changed_modified_2_0_rev_a.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:orange }

   .changed_deleted_2_0_rev_a { cursor: url(changed_deleted_2_0_rev_a_cursor.cur), auto;
                 background: url(changed_deleted_2_0_rev_a.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:red;
                 text-decoration: line-through; }

*/

   .changed_added_2_1 { cursor: url(changed_added_2_1_cursor.cur), auto;
                 background: url(changed_added_2_1.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:green }

   .changed_modified_2_1 { cursor: url(changed_modified_2_1_cursor.cur), auto;
                 background: url(changed_modified_2_1.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:orange }

   .changed_deleted_2_1 { cursor: url(changed_deleted_2_1_cursor.cur), auto;
                 background: url(changed_deleted_2_1.png); 
                 padding-left:0.2em; border-left:solid;
                 border-left-width:thin; border-right:none;
                 border-top:none; border-bottom:none; border-color:red;
                 text-decoration: line-through; }



.javadocSection { font-size: large; }

.java .de1, .java .de2 {font-family: 'Courier New', Courier, monospace; font-weight: normal;}
.java  {font-family: monospace;}
.java .imp {font-weight: bold; color: red;}
.java li {background: #ffffff;}
.java li.li2 {background: #f8f8f8;}
.java .kw1 {color: #b1b100;}
.java .kw2 {color: #000000; font-weight: bold;}
.java .kw3 {color: #aaaadd; font-weight: bold;}
.java .kw4 {color: #993333;}
.java .co1 {color: #808080; font-style: italic;}
.java .co2 {color: #a1a100;}
.java .coMULTI {color: #808080; font-style: italic;}
.java .es0 {color: #000099; font-weight: bold;}
.java .br0 {color: #66cc66;}
.java .st0 {color: #ff0000;}
.java .nu0 {color: #cc66cc;}
.java .me1 {color: #006600;}
.java .me2 {color: #006600;}


div.syntax
{
background:white;
}

div.syntax a
{
	font-family: 'Courier New', Courier, monospace; 
	font-weight: normal;
	color:black;
	text-decoration:underline;
}
