root { 
    display: block;
}

night {
    background: black;
    color: #80c0c0
}

morning {
    background: yellow;
    color: #80c0c0
}

afternoon {
    background: white;
    color: #80c0c0
}

dusk {
    background: grey;
    color: #80c0c0
}