
     .menu li{
          list-style-type: none;
          border: 1px solid #CCCCCC;
          margin: 2px;
          padding: 2px;
          width: 150px;
          display: block;        
          text-indent: 0pt;                        
     }
    .menu a{ 
      text-decoration: none;  
      font-family: Arial, Helvetica, sans-serif ;
      font-size: 10px;
      color: white;
    }
    .menu ul{
      padding: 0pt ;
      margin: 0pt;
      text-indent: 0pt;
    }
    .menu {
        display:none;
        position:absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: white;
        margin: 0px;
        padding: 0px;	
        background-color: #999999;
    }
       
    .menuhandler {
        background-color:#EEE;
        padding:2px;
        text-decoration:none;
        display: block;
        border: 1px solid #666666;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #666666;	
        width: 150px;
        text-align: center;
        font-weight: bold;
    }