
     .menu li{
          list-style-type: none;
          padding: 0pt ;
          margin: 0pt;
          display: block;
     }
    .menu a{ 
      text-decoration: none;                    
    }
    .menu ul{
      padding: 0pt;
      margin: 0pt;      
    }
    .menu {
        display:none;
        position:absolute;                       
        margin: 0px;
        padding: 0px;        
    }
       
    .menuhandler {        
        text-decoration:none;
        display: block;                                        
    }

     .menuTable {
         border-collapse:collapse;
     }