/XMLSchema.dtd
/datatypes.dtd
/empty-faces-config.xml
/facelet-taglib_1_0.dtd
/javaee_5.xsd
/javaee_6.xsd
/javaee_7.xsd
/javaee_8.xsd
/javaee_web_services_1_2.xsd
/javaee_web_services_client_1_2.xsd
/javaee_web_services_client_1_3.xsd
/javaee_web_services_client_1_4.xsd
/standard-html-renderkit.xml
/web-facelettaglibrary_2_0.xsd
/web-facelettaglibrary_2_2.xsd
/web-facelettaglibrary_2_3.xsd
/web-facesconfig_1_0.dtd
/web-facesconfig_1_1.dtd
/web-facesconfig_1_2.xsd
/web-facesconfig_2_0.xsd
/web-facesconfig_2_1.xsd
/web-facesconfig_2_2.xsd
/web-facesconfig_2_3.xsd
/web-facesuicomponent_2_0.xsd
/web-facesuicomponent_2_2.xsd
/web-partialresponse_2_0.xsd
/web-partialresponse_2_2.xsd
/web-partialresponse_2_3.xsd
/xml.xsd
