#
# The contents of this file are subject to the terms
# of the Common Development and Distribution License
# (the License). You may not use this file except in
# compliance with the License.
# 
# You can obtain a copy of the License at
# https://javaserverfaces.dev.java.net/CDDL.html or
# legal/CDDLv1.0.txt. 
# See the License for the specific language governing
# permission and limitations under the License.
# 
# When distributing Covered Code, include this CDDL
# Header Notice in each file and include the License file
# at legal/CDDLv1.0.txt.    
# If applicable, add the following below the CDDL Header,
# with the fields enclosed by brackets [] replaced by
# your own identifying information:
# "Portions Copyrighted [year] [name of copyright owner]"
# 
# [Name of File] [ver.__] [Date]
# 
# Copyright 2005 Sun Microsystems Inc. All Rights Reserved
#

# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# sample app for your local environment.  It defines the location of all 
# external modules that the sample app depends on.  
#
# Copy this file to "build.properties" in the top-level source directory, 
# and customize it as needed.
#
# After you are done editing the file, run "ant" in the same directory as
# the build.xml file to build the Character Demo.
#
# Do display current property setting run the ant command: "ant props"
#
# $Id: build.properties.sample,v 1.4 2005/08/22 22:08:45 ofung Exp $
# -----------------------------------------------------------------------------

# ----- Default Paths for Dependent Packages -----

# These path values are based on a SJSAS 8.0 PE install. 

# If you are running SJSAS 8.0 PE you will only need to modify the "base.path"
# property to point to your SJSAS 8.0 PE installation.

# If you are not running SJSAS 8.0 PE you will need to customize all runtime
# dependency jar file paths to your specific installation.

base.path=<SJSAS_HOME>

commons-beanutils.jar=${base.path}/lib/appserv-rt.jar
commons-collections.jar=${base.path}/lib/appserv-rt.jar
commons-digester.jar=${base.path}/lib/appserv-rt.jar
commons-logging.jar=${base.path}/lib/appserv-rt.jar
jsf-api.jar=${base.path}/lib/jsf-api.jar
jsf-impl.jar=${base.path}/lib/jsf-impl.jar
jstl.jar=${base.path}/lib/appserv-jstl.jar
servlet.jar=${base.path}/lib/j2ee.jar
standard.jar=${base.path}/lib/appserv-jstl.jar

# ----- Web Application Jar Bundling -----

# Uncomment the following property if you want to bundle all dependent 
# jars into the web application. 

# If you are running in the Sun Java Systems Application Server 8.0 PE
# environment or any other environment where JSF 1.0 and dependencies are
# is already bundled, you do not need to bundle any of the run-time jar files
# in your web application.

# build.standalone=true
