#
# Copyright 2002, 2003 Sun Microsystems, Inc. All Rights Reserved.
# 
# Redistribution and use in source and binary forms, with or
# without modification, are permitted provided that the following
# conditions are met:
# 
# - Redistributions of source code must retain the above copyright
#   notice, this list of conditions and the following disclaimer.
# 
# - Redistribution in binary form must reproduce the above
#   copyright notice, this list of conditions and the following
#   disclaimer in the documentation and/or other materials
#   provided with the distribution.
#    
# Neither the name of Sun Microsystems, Inc. or the names of
# contributors may be used to endorse or promote products derived
# from this software without specific prior written permission.
#  
# This software is provided "AS IS," without a warranty of any
# kind. ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND
# WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, ARE HEREBY
# EXCLUDED. SUN AND ITS LICENSORS SHALL NOT BE LIABLE FOR ANY
# DAMAGES OR LIABILITIES SUFFERED BY LICENSEE AS A RESULT OF OR
# RELATING TO USE, MODIFICATION OR DISTRIBUTION OF THIS SOFTWARE OR
# ITS DERIVATIVES. IN NO EVENT WILL SUN OR ITS LICENSORS BE LIABLE
# FOR ANY LOST REVENUE, PROFIT OR DATA, OR FOR DIRECT, INDIRECT,
# SPECIAL, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES, HOWEVER
# CAUSED AND REGARDLESS OF THE THEORY OF LIABILITY, ARISING OUT OF
# THE USE OF OR INABILITY TO USE THIS SOFTWARE, EVEN IF SUN HAS
# BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
#  
# You acknowledge that this software is not designed, licensed or
# intended for use in the design, construction, operation or
# maintenance of any nuclear facility.
#

# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# jsf-demo for your local environment.  It defines the location of all external
# modules that the jsf-demo depends on.  Copy this file to "build.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id: build.properties.sample,v 1.8 2003/04/11 17:09:04 jvisvanathan Exp $
# -----------------------------------------------------------------------------

# Make these values be correct on your system, then rename to
# build.properties.  On win32, make sure to preserve the \\ syntax
# for escaping backslashes.  

tomcat.home=<path to tomcat or jwsdp installation>
commons-logging.jar=${tomcat.home}/jwsdp-shared/lib/commons-logging.jar
commons-digester.jar=${tomcat.home}/server/lib/commons-digester.jar
commons-beanutils.jar=${tomcat.home}/server/lib/commons-beanutils.jar
commons-collections.jar=${tomcat.home}/common/lib/commons-collections.jar
xerces.jar=${tomcat.home}/jaxp-1.2.2/lib/endorsed/xercesImpl.jar
jstl.jar=${tomcat.home}/jstl-1.0.3/standard/lib/jstl.jar
standard.jar=${tomcat.home}/jstl-1.0.3/standard/lib/standard.jar

# Set the following only if you are building with JWSDP1.2.x
# or TOMCAT 5.x 
#jsp.jar=${tomcat.home}/common/lib/jsp-api.jar
#servlet.jar=${tomcat.home}/common/lib/servlet-api.jar  

# By default, all the dependent libraries are bundled with every sample app.
# To bundle only the libraries that are not in the JWSDP1.2,
# comment build.standalone property and uncomment build.wspack property
build.standalone=true
#build.wspack=true

# --------------------------------------------------
#   PROPERTIES FOR JWSDP 1.2 NIGHTLY BUILDS
# --------------------------------------------------
# 
#jsf.api.jar=<location of jsf-api.jar>
#jsf.ri.jar=<location of jsf-ri.jar>

