#
# Copyright 2002, 2003 Sun Microsystems, Inc. All Rights Reserved.
# 
# Redistribution and use in source and binary forms, with or
# without modification, are permitted provided that the following
# conditions are met:
# 
# - Redistributions of source code must retain the above copyright
#   notice, this list of conditions and the following disclaimer.
# 
# - Redistribution in binary form must reproduce the above
#   copyright notice, this list of conditions and the following
#   disclaimer in the documentation and/or other materials
#   provided with the distribution.
#    
# Neither the name of Sun Microsystems, Inc. or the names of
# contributors may be used to endorse or promote products derived
# from this software without specific prior written permission.
#  
# This software is provided "AS IS," without a warranty of any
# kind. ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND
# WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, ARE HEREBY
# EXCLUDED. SUN AND ITS LICENSORS SHALL NOT BE LIABLE FOR ANY
# DAMAGES OR LIABILITIES SUFFERED BY LICENSEE AS A RESULT OF OR
# RELATING TO USE, MODIFICATION OR DISTRIBUTION OF THIS SOFTWARE OR
# ITS DERIVATIVES. IN NO EVENT WILL SUN OR ITS LICENSORS BE LIABLE
# FOR ANY LOST REVENUE, PROFIT OR DATA, OR FOR DIRECT, INDIRECT,
# SPECIAL, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES, HOWEVER
# CAUSED AND REGARDLESS OF THE THEORY OF LIABILITY, ARISING OUT OF
# THE USE OF OR INABILITY TO USE THIS SOFTWARE, EVEN IF SUN HAS
# BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
#  
# You acknowledge that this software is not designed, licensed or
# intended for use in the design, construction, operation or
# maintenance of any nuclear facility.
#

# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# jsf-demo for your local environment.  It defines the location of all external
# modules that the jsf-demo depends on.  Copy this file to "build.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id: build.properties.sample,v 1.4 2003/02/21 23:44:17 ofung Exp $
# -----------------------------------------------------------------------------


# ----- Compile Control Flags -----


# ----- Build Control Flags -----


# ----- Run Control Flags -----


# ----- Default Paths for Dependent Packages -----

base.path=/usr/local
jsf.base.path=${base.path}


# --------------------------------------------------
#		 REQUIRED LIBRARIES
# --------------------------------------------------


# ----- JSF API -----
jsf.api.home=${jsf.base.path}/jsf-api

# ----- JSF RI -----
jsf.ri.home=${jsf.base.path}/jsf-ri

# ----- Servlet 2.3 API -----
servlet.jar=${jsf.ri.home}/lib/servlet.jar

# ----- Jakarta JSTL, version 1.0 or later -----
jstl.home=${base.path}/jakarta-taglibs/standard-1.0.2
jstl.lib=${jstl.home}/lib
jstl.jar=${jstl.lib}/jstl.jar
standard.jar=${jstl.lib}/standard.jar

jstl.loc=http://jakarta.apache.org/builds/jakarta-taglibs/releases/standard/jakarta-taglibs-standard-1.0.2.tar.gz


# --------------------------------------------------
#		 OPTIONAL LIBRARIES
# --------------------------------------------------


# --------------------------------------------------
#		 RUN-TIME COMPONENTS
# --------------------------------------------------

#Management tool username and password. Used in Tomcat integration targets.
username=tomcat
password=tomcat
